## Save data after manipulation

In [4]:
import pandas as pd

In [5]:
data = {
        "Name": ["Ali","Shaham","Sohail"],
        "RollNo": [2312, 4562, 3871],
        "Majors": ["Accounts","CS","Medical"]
    }

data = pd.DataFrame(data)
data

     Name  RollNo    Majors
0     Ali    2312  Accounts
1  Shaham    4562        CS
2  Sohail    3871   Medical

In [15]:
save_data = data.to_csv("example-data.csv", index=False)  # index = False for ignoring index column when saving file